{% load i18n %}

<div class="modal fade" id="inviteToOrganizationGroupPopupModal" tabindex="-1" role="dialog" aria-labelledby="inviteToOrganizationGroupPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="inviteToOrganizationGroupPopupModalLabel">{% trans "Invite to Organization Group" %}</h4>
            </div>

            <div class="modal-body">
                <form id="invite-to-organization-group-modal-form" action="" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="organization_id" value="">
                    <input type="hidden" name="org_group_id" value="">
                    <input type="hidden" name="invitee_id" value="">

                    <div class="form-group">
                        <label for="id_invitation_text">{% trans "Please, enter a Reason" %}</label>
                        <textarea id="id_invitation_text" class="form-control" name="invitation_text" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="invite_to_organization_group();">{% trans "Invite" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Invite to Organization Group                                      ***/
    /*************************************************************************/
    function invite_to_organization_group() {
        var organization_id = $("#invite-to-organization-group-modal-form").find("input[name='organization_id']").val();
        var org_group_id = $("#invite-to-organization-group-modal-form").find("input[name='org_group_id']").val();
        var invitee_id = $("#invite-to-organization-group-modal-form").find("input[name='invitee_id']").val();
        var invitation_text = $("#invite-to-organization-group-modal-form").find("textarea[name='invitation_text']").val();

        $.post("{% url 'api-invite' %}", {
            "invitee_id":           invitee_id,
            "organization_id":      organization_id,
            "org_group_id":         org_group_id,
            "invitation_text":      invitation_text,
            "csrfmiddlewaretoken":  $("#invite-to-organization-group-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#inviteToOrganizationGroupPopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();

            $("input#members-" + org_group_id).val("");

        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to send the Invitation."
                }).show();
            };
        });

        return true;
    }
</script>
