{% load i18n %}

{% comment %}
    Input Parameters:
        :<request>
{% endcomment %}

<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-address-card-o fa-fw"></i> {% trans "Profile Settings" %} <span class="caret"></span></a>

    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'my-profile-edit' %}"><i class="fa fa-edit fa-fw"></i> {% trans "Edit Profile" %}</a></li>
        <li><a href="{% url 'my-profile-privacy' %}"><i class="fa fa-key fa-fw"></i> {% trans "Privacy Settings" %}</a></li>
        <li><a href="{% url 'password-reset' %}"><i class="fa fa-lock fa-fw"></i> {% trans "Change Password" %}</a></li>
        <li><a href="{% url 'my-profile-delete' %}"><i class="fa fa-trash-o fa-fw"></i> {% trans "Delete Profile" %}</a></li>
    </ul>
</div>

<a class="btn btn-primary {% if not request.user.profile.is_completed %}disabled{% endif %}" href="{% url 'challenge-create' %}"><i class="fa fa-wrench fa-fw"></i> {% trans "Create Challenge" %}</a>
<a class="btn btn-primary {% if not request.user.profile.is_completed %}disabled{% endif %}" href="{% url 'organization-create' %}"><i class="fa fa-building-o fa-fw"></i> {% trans "Create Organization" %}</a>
