{% load i18n %}

<div class="modal fade" id="challengeParticipationRejectApplicationPopupModal" tabindex="-1" role="dialog" aria-labelledby="challengeParticipationRejectApplicationPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="challengeParticipationRejectApplicationPopupModalLabel">{% trans "Reject Application" %}</h4>
            </div>

            <div class="modal-body">
                <form id="challenge-participation-reject-application-modal-form" action="" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="challenge_id" value="">
                    <input type="hidden" name="participation_id" value="">

                    <div class="form-group">
                        <label for="id_cancellation_text">{% trans "Please, enter a Reason" %}</label>
                        <textarea id="id_cancellation_text" class="form-control" name="cancellation_text" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="participation_reject();">{% trans "Reject" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Reject Participation Application                                  ***/
    /*************************************************************************/
    function participation_reject() {
        var cancellation_text = $("#challenge-participation-reject-application-modal-form").find("textarea[name='cancellation_text']").val();
        var challenge_id = $("#challenge-participation-reject-application-modal-form").find("input[name='challenge_id']").val();
        var participation_id = $("#challenge-participation-reject-application-modal-form").find("input[name='participation_id']").val();

        $.post("{% url 'api-participation-reject-application' 0 %}".replace("0", challenge_id), {
            "participation_id":     participation_id,
            "cancellation_text":    cancellation_text,
            "csrfmiddlewaretoken":  $("#challenge-participation-reject-application-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#challengeParticipationRejectApplicationPopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();

            //location.reload();
            $(".participation-" + participation_id).hide("slow", function () {
                fixFooter();
            });

            // ----------------------------------------------------------------
            // --- Update `#waiting-for-confirmation` Tab
            var count = $.find("#waiting-for-confirmation-count");
            var badgeAmount = parseInt($(count).text());

            $(count).text(badgeAmount - 1);

        }).fail(function (data) {
            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to reject the Participation Request."
                }).show();
            };
        });

        return true;
    }
</script>
