{% load i18n %}

<div class="modal fade" id="challengeParticipationPostPopupModal" tabindex="-1" role="dialog" aria-labelledby="challengeParticipationPostPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="challengeParticipationPostPopupModalLabel">{% trans "Participate in Challenge" %}</h4>
            </div>

            <div class="modal-body">
                <form id="challenge-participation-post-modal-form" action="" method="POST">
                    {% csrf_token %}

                    <p class="note">
                        <span class="label label-warning">{% trans "Privacy Information" %}</span><br/>
                        {% trans "When you sign up for a Challenge, the Organizer of the Challenge can see your personal Information, including Phone Number, Email, and Birth Date." %}
                    </p>
                    <p class="note">
                        <span class="label label-warning">{% trans "This is important" %}</span><br/>
                        <strong>{% trans "By clicking 'Participate', you agree to take part in this Challenge and to do your best." %}</strong>
                    </p>

                {% if challenge.application == CHALLENGE_MODE.CONFIRMATION_REQUIRED or challenge.challenge_roles.all %}
                    <div class="form-group">
                        <label for="id_application_text">{% trans "Application Text" %}</label>
                        <textarea id="id_application_text" class="form-control" name="application_text" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>
                {% endif %}

                {% if challenge.challenge_roles.all %}
                    <p class="note">
                        <strong>{% trans "Desired Role" %}:</strong>
                    </p>
                    <select>
                    {% for role in challenge.challenge_roles.all %}
                        <option value="{{ role.id }}">{{ role.name }} ( {{ role.quantity }} )</span></option>
                    {% endfor %}
                    </select>
                {% endif %}
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="participation_post();">{% trans "Participate" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Post Participation                                                ***/
    /*************************************************************************/
    function participation_post() {
        var role_id = $("#challenge-participation-post-modal-form").find("select > option:selected").val();
        var application_text = $("#challenge-participation-post-modal-form").find("textarea[name='application_text']").val();

        $.post("{% url 'api-participation-post' challenge.id %}", {
            "role_id":              role_id,
            "application_text":     application_text,
            "csrfmiddlewaretoken":  $("#challenge-participation-post-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#challengeParticipationPostPopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();

            location.reload(true);
        }).fail(function (data) {
            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to post the Participation Request."
                }).show();
            };
        });

        return true;
    }
</script>
