{% load i18n %}

<div class="modal fade" id="forgotPasswordPopupModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="forgotPasswordPopupModalLabel">{% trans "Forgot Username / Password?" %}</h4>
            </div>

            <div class="modal-body">
                <p>{% trans "Enter your Email below and we'll send out your Contact Details." %}</p>

                <div class="row">
                    <div class="col-xs-24 col-xs-offset-0 col-sm-18 col-sm-offset-3 col-md-18 col-md-offset-3">
                        <form id="password-reset-modal-form" class="form-horizontal" action="" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <div class="input-group">
                                    <label for="id_email">{% trans "Email" %}:</label>
                                    <input id="id_email" name="email" type="text" placeholder="Email"/>
                                    <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                                </div>
                            </div>

                            <span class="help-block" style="color:red;"></span>

                            <input name="submit-forgot-password-form" type="submit" value="Send now">
                        </form>
                    </div>
                </div>

                <div class="delimiter"></div>

                <div class="row">
                    <div class="col-xs-24 col-xs-offset-0 col-sm-18 col-sm-offset-3 col-md-18 col-md-offset-3" align="right">
                        <p>{% trans "Need Help?" %} <a href="#">{% trans "Contact us" %}</a>.</p><br/>
                        <p>{% trans "Don't have an Account?" %} <a href="{% url 'signup' %}">{% trans "Sign-up now" %}</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("input[name='submit-forgot-password-form']").click(function () {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        var email = $("input[name='email']").val();

        if (!regex.test(email)) {
            $(".help-block").text("Please, enter the correct Email Address");

            return false;
        }

        $(".help-block").text("");

        $.post("{% url 'api-forgot-password-notify' %}", {
            "email":                email,
            "csrfmiddlewaretoken":  $("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#forgotPasswordPopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();
        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to send the Password Renewal Link."
                }).show();
            };
        });

        return false;
    })

    $("#forgotPasswordPopupModal").on("show.bs.modal", function () {
        $("#loginPopupModal").modal("hide");

        console.log("show forgotPasswordPopupModal");

        $("body").css({
            overflow:   "hidden"
        });
    })

    $("#forgotPasswordPopupModal").on("hidden.bs.modal", function () {
        console.log("hide forgotPasswordPopupModal");

        $("body").css({
            overflow:   ""
        });
    })
</script>