{% load i18n %}

{% comment %}
    Input Parameters:
        :<forum_topic>
{% endcomment %}

<div class="col-xs-24 col-sm-24 col-md-24 col-lg-24" style="margin-bottom:10px;">
    <div class="forum-topic-thumb-search">
        <strong>
            <p>
                Forum Topic <a href="{% url 'topic-post-list' forum_topic.forum_id forum_topic.id %}">{{ forum_topic.title }}</a> in <a href="{% url 'topic-list' forum_topic.forum_id %}">{{ forum_topic.forum.title }}</a>
            </p>
        </strong>

        <p>
            {% trans "created by" %} <a href="{% url 'profile-view' forum_topic.author_id %}">{{ forum_topic.author.get_full_name }}</a>
        </p>

        <blockquote>
            <p>{{ forum_topic.description|striptags|truncatechars:300|default:"N/A" }}</p>
        </blockquote>
    </div>
</div>
