{% load i18n %}
{% load static %}
{% load compress %}
{% load imagekit %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>{% trans "Upcoming Challenges" %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Less CSS -->
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'less/imports.less' %}">
    {% endcompress %}
    {% comment %}
        <script type="text/javascript" src="{% static 'less/dist/less.min.js' %}"></script>
    {% endcomment %}

        <!-- jQuery -->
        <script type="text/javascript" charset="utf-8" src="{% static 'jquery/dist/jquery.min.js' %}"></script>

        <!-- Twitter Bootstrap -->
        <script type="text/javascript" charset="utf-8" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </head>

    <body>
        <div id="organization-widget">
            <a href="{% url 'index' %}">
                <img src="{% static 'favicon/favicon-32x32.png' %}" alt="SaneSide Platform - Volunteering and Community Service made easy." />
            </a>
            <a href="{% url 'organization-details' organization.slug %}">
            {% if organization.avatar %}
                {% generateimage "iframe:thumbnail" source=organization.avatar -- alt=organization.name %}
            {% else %}
                <img src="{% static 'img/default.png' %}" width="32" height="32" alt="{{ organization.name }}. SaneSide Platform - Volunteering and Community Service made easy." />
            {% endif %}
            </a>

            <p>{{ organization.name }} {% trans "Upcoming Challenges on SaneSide" %}:</p>

            <table class="table condensed-table">
            {% for challenge in challenges_upcoming %}
                <tr>
                    <td>
                        <a class="" href="{% url 'challenge-details' challenge.slug %}">
                        {% if challenge.avatar %}
                            {% generateimage "iframe:thumbnail" source=challenge.avatar -- alt=challenge.name %}
                        {% else %}
                            <img src="{% static 'img/default.png' %}" width="32" height="32" alt="{{ challenge.name }}. SaneSide Platform - Volunteering and Community Service made easy." />
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <a class="" href="{% url 'challenge-details' challenge.slug %}">{{ challenge.name }}</a>
                    </td>
                    <td>{{ challenge.start_date }}</td>
                    <td><span class="label label-info">{{ challenge.duration }}h</span></td>
                    <td><span class="badge badge-success">{{ challenge.get_confirmed_count }}</span></td>
                </tr>
            {% empty %}
                <tr>
                    <span class="label label-info">{% trans "This Organization has no open Challenges at the moment" %}</span>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
