{% load i18n %}
{% load imagekit %}

{% comment %}
    Input Parameters:
        :<organization>
{% endcomment %}

<div class="col-xs-24 col-sm-24 col-md-24 col-lg-24" style="margin-bottom:10px;">
    <div class="organization-thumb-search">
        <div class="row">
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <a href="{% url 'organization-details' organization.slug %}">
                    {% if organization.avatar %}
                        {% generateimage "common:medium_fill_wide" source=organization.avatar -- alt=organization.name %}
                    {% else %}
                    {% endif %}
                    </a>
                </div>
            </div>

            <div class="col-xs-24 col-sm-18 col-md-18 col-lg-18">
                <strong>
                    <p>
                        {% trans "Organization" %} <a href="{% url 'organization-details' organization.slug %}">{{ organization.name|truncatechars:50 }}</a>

                    {% if organization.get_rating_avg > 0 %}
                        <div style="color:orange;">
                            <input id="id_organization_rating" name="organization_rating" type="hidden" class="rating" data-filled="fa fa-star fa-fw" data-empty="fa fa-star-o fa-fw" data-start="0" data-stop="5" data-step="1" disabled="disabled" value="{{ organization.get_rating_avg }}" />
                        </div>
                    {% endif %}
                    </p>
                </strong>

                <p>
                    {% trans "created by" %} <a href="{% url 'profile-view' organization.author_id %}"> {{ organization.author.first_name }}</a> {{ organization.created|timesince }} {% trans "ago" %}
                </p>

                <blockquote>
                    <p>{{ organization.description|striptags|truncatechars:300|default:"N/A" }}</p>
                </blockquote>

                <div class="learn-more">
                    <a class="btn btn-warning btn-centered pull-right" href="{% url 'organization-details' organization.slug %}" style="width:auto;">{% trans "LEARN MORE" %} <i class="fa fa-chevron-right fa-fw"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
