{% load i18n %}

{% comment %}
    Input Parameters:
        :<request>
{% endcomment %}

{% if organization.author == request.user %}
    <a class="btn btn-primary" href="{% url 'organization-edit' organization.slug %}"><i class="fa fa-edit fa-fw"></i> {% trans "Edit Organization" %}</a>
    <a class="btn btn-success" href="{% url 'organization-populate-newsletter' organization.slug %}"><i class="fa fa-paper-plane fa-fw"></i> {% trans "Populate Newsletter" %}</a>
    <a class="btn btn-primary" href="{% url 'challenge-create' %}?organization={{ organization.id }}"><i class="fa fa-wrench fa-fw"></i> {% trans "Create Challenge" %}</a>
{% elif request.user.is_authenticated %}
    {% if not is_subscribed %}
        <a class="btn btn-primary subscribe" href="#"><i class="fa fa-paper-plane fa-fw"></i> {% trans "Subscribe" %}</a>
    {% endif %}

    <!-- Add Complaint -->
    {% if show_complain_form %}
        <p class="note">
            <span class="label label-danger">{% trans "Disclaimer" %}</span><br/>
            <p>
            {% blocktrans %}
                You see this Message, because in the you participated in the Challenge(s), organized by this Organization.<br/>
                Let us know, if there's something to complain about it.
            {% endblocktrans %}
            </p>
        </p>

        <a class="btn btn-danger btn-centered add-complaint" href="#"><i class="fa fa-info-circle fa-fw"></i> {% trans "Complain" %}</a>
    {% endif %}
{% endif %}
