{% load i18n %}

<div class="modal fade" id="createOrganizationGroupPopupModal" tabindex="-1" role="dialog" aria-labelledby="createOrganizationGroupPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createOrganizationGroupPopupModalLabel">{% trans "Create Organization Group" %}</h4>
            </div>

            <div class="modal-body">
                <form id="organization-group-create-modal-form" action="" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="organization_id" value="">

                    <div class="form-group">
                        <label for="id_group_name">{% trans "Group Name" %}</label>
                        <input id="id_group_name" class="form-control" name="group_name" type="text" maxlength="80" placeholder="Group Name..." />
                    </div>

                    <div class="form-group">
                        <label for="id_group_description">{% trans "Group Description" %}</label>
                        <textarea id="id_group_description" class="form-control" name="group_description" maxlength="1000" placeholder="Enter Text here..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="create_group();">{% trans "Create" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Organization Group create                                         ***/
    /*************************************************************************/
    function create_group() {
        var organization_id = $("#organization-group-create-modal-form").find("input[name='organization_id']").val();
        var group_name = $("#organization-group-create-modal-form").find("input[name='group_name']").val();
        var group_description = $("#organization-group-create-modal-form").find("textarea[name='group_description']").val();

        $.post("{% url 'api-organization-group-list' 0 %}".replace("0", organization_id), {
            "group_name":           group_name,
            "group_description":    group_description,
            "csrfmiddlewaretoken":  $("#organization-group-create-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#createOrganizationGroupPopupModal").modal("hide");

            $("#organization-groups-section").empty().after(data.org_groups);

            var tabID = $(element).parents(".tab-pane").attr("id");
            var tabLI = $.find("a[href='#" + tabID + "']");
            var badgeAmount = parseInt($(tabLI).find(".badge").text());

            $(tabLI).find(".badge").text(badgeAmount + 1);

            new Noty({
                type:   "info",
                text:   data.message
            }).show();
        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to create the Group."
                }).show();
            };
        });

        return true;
    }
</script>
