{% load i18n %}

<div class="modal fade" id="organizationViewOnMapPopupModal" tabindex="-1" role="dialog" aria-labelledby="organizationViewOnMapPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="organizationViewOnMapPopupModalLabel">{% trans "Location" %}</h4>
            </div>

            <div class="modal-body">
                <iframe id="gmapframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q={{ organization.address.full_address }}&ie=UTF8&z=15&iwloc=near&output=embed"></iframe>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
