{% load i18n %}

<div class="modal fade" id="organizationGroupMemberRemovePopupModal" tabindex="-1" role="dialog" aria-labelledby="organizationGroupMemberRemovePopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="organizationGroupMemberRemovePopupModalLabel">{% trans "Remove Group Member" %}</h4>
            </div>

            <div class="modal-body">
                <form id="organization-group-member-remove-modal-form" action="" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="group_id" value="">
                    <input type="hidden" name="member_id" value="">

                    <div class="form-group">
                        <label for="id_reason">{% trans "Please, enter a Reason" %}</label>
                        <textarea id="id_reason" class="form-control" name="reason" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="group_member_remove();">{% trans "Remove" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Remove Group Member                                               ***/
    /*************************************************************************/
    function group_member_remove() {
        var reason = $("#organization-group-member-remove-modal-form").find("textarea[name='reason']").val();
        var group_id = $("#organization-group-member-remove-modal-form").find("input[name='group_id']").val();
        var member_id = $("#organization-group-member-remove-modal-form").find("input[name='member_id']").val();

        $.post("{% url 'api-organization-group-member-remove' organization.id %}", {
            "group_id":             group_id,
            "member_id":            member_id,
            "reason":               reason,
            "csrfmiddlewaretoken":  $("#organization-group-member-remove-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#organizationGroupMemberRemovePopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();

            //location.reload();
            $(element).parent().parent().hide("slow", function () {
                fixFooter();
            });

            var tabID = $(element).parents(".tab-pane").attr("id");
            var tabLI = $.find("a[href='#" + tabID + "']");
            var badgeAmount = parseInt($(tabLI).find(".badge").text());

            $(tabLI).find(".badge").text(badgeAmount - 1);
        }).fail(function (data) {
            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to remove the Group Member."
                }).show();
            };
        });

        return true;
    }
</script>
