{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Password reset" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="breadcrumbs pull-right">
                    <a href="{% url 'account-list' %}">{% trans "Members" %}</a>
                    <i class="fa fa-chevron-circle-right"></i>
                    <a href="{% url 'login' %}">{% trans "Sign in" %}</a>
                    <i class="fa fa-chevron-circle-right"></i>
                    <a href="{% url 'password-reset' %}">{% trans "Password reset" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="password-reset" class="container">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24">
            <div class="row">
                <div class="col-xs-24 col-xs-offset-0 col-sm-12 col-sm-offset-6 col-md-8 col-md-offset-8">
                    <h3>{% trans "Please, enter new Password" %}</h3>

                    <form id="password-reset-form" action="." method="POST" role="form">
                        {% csrf_token %}

                        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                            <div class="input-group">
                                {{ form.password }}
                                <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                            </div>

                            <span class="help-block">{% if form.password.errors %}{% for error in form.password.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <div class="form-group {% if form.retry.errors %}has-error{% endif %}">
                            <div class="input-group">
                                {{ form.retry }}
                                <div class="input-group-addon"><i class="fa fa-lock fa-fw"></i></div>
                            </div>

                            <span class="help-block">{% if form.retry.errors %}{% for error in form.retry.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <input name="submit" type="submit" value="Change" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
