{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Account Confirmation Success" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="breadcrumbs pull-right">
                    <a href="{% url 'account-list' %}">{% trans "Members" %}</a>
                    <i class="fa fa-chevron-circle-right"></i>
                    <a href="{% url 'signup' %}">{% trans "Sign up" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="account-confirmation-success">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="jumbotron">
                    <p>
                    {% blocktrans %}
                        Thank you for staying on SaneSide.
                        Your Account was confirmed and now is ready to use.
                    {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
