<!--
TAB
My Profile - Admin upcoming Challenges
-->
{% load i18n %}

<div class="row">
{% for challenge in request.user.profile.get_admin_challenges_upcoming %}
    <div class="col-xs-24 col-sm-8 col-md-6 col-lg-6">
        {% include "challenges/fragments/challenge-thumbnail-vert.html" with challenge=challenge show_org=True chl_admin=True %}
    </div>
{% empty %}
    <div class="col-xs-24 col-sm-24 col-md-24">
        <p>
            <span class="label label-info">{% trans "There are no upcoming Challenges at the moment" %}</span>
        </p>
    </div>
{% endfor %}
</div>
