{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}
{% load imagekit %}
{% load formset_tags %}

{% block title %}{% trans "Edit Challenge" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
    <!-- NavBar Wizard -->
    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'js/navbar-wizard.js' %}"></script>
    {% endcompress %}

    <!-- Wire up Events -->
    {% comment %}
    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'js/wire-up-events.js' %}"></script>
    {% endcompress %}
    {% endcomment %}
{% endblock %}

{% block content %}
<div class="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="breadcrumbs pull-right">
                    <a href="{% url 'challenge-list' %}">{% trans "Challenges" %}</a>
                    <i class="fa fa-chevron-circle-right"></i>
                    <a href="{% url 'challenge-edit' challenge.slug %}">{% trans "Edit" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="challenge-edit">
        <div class="row">
            <div id="tips" class="col-xs-24 col-sm-24 col-md-24 col-lg-24 right-sidebar">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% trans "You can edit your Challenge here. After you save Changes, all applied Members will receive appropriate Notifications." %}
                </div>
            </div>

            <div class="col-xs-24 col-sm-16 col-md-18">
                <form id="edit-challenge-form" role="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div id="chl-avatar" class="col-xs-24 col-sm-24 col-md-8">
                            <div class="thumbnail avatar" style="display:none;">
                                <img id="avatar" src="#" alt="Upload Cover." />
                            </div>

                            <a class="btn btn-primary btn-centered file" id="file"><i class="fa fa-upload fa-fw"></i> {% trans "Upload Cover" %}</a>
                            <input id="id_avatar" name="avatar" type="file">
                            <div class="form-group {% if form.avatar.errors %}has-error{% endif %}">
                                <span class="help-block">{% if form.avatar.errors %}{% for error in form.avatar.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                        </div>

                        <div id="chl-description" class="col-xs-24 col-sm-24 col-md-16">
                            <div class="wizard">
                                <div class="wizard-inner">
                                    <div class="connecting-line"></div>

                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#challenge-description" data-toggle="tab" aria-controls="challenge-description" role="tab" title="Description">
                                                <span class="round-tab">
                                                    <i class="fa fa-book fa-fw"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a href="#challenge-time-and-place" data-toggle="tab" aria-controls="challenge-time-and-place" role="tab" title="Time and Place">
                                                <span class="round-tab">
                                                    <i class="fa fa-map-marker fa-fw"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a href="#challenge-social-links" data-toggle="tab" aria-controls="challenge-social-links" role="tab" title="Social Links">
                                                <span class="round-tab">
                                                    <i class="fa fa-handshake-o fa-fw"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a href="#challenge-application" data-toggle="tab" aria-controls="challenge-application" role="tab" title="Application">
                                                <span class="round-tab">
                                                    <i class="fa fa-exclamation-triangle fa-fw"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a href="#challenge-attachments" data-toggle="tab" aria-controls="challenge-attachments" role="tab" title="Attachments">
                                                <span class="round-tab">
                                                    <i class="fa fa-file-o fa-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane fade in active" role="tabpanel" id="challenge-description">
                                        <ul class="list-inline pull-right">
                                            <li><span><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</span></li>
                                            <li><a href="#" class="next-step" style="border-radius:15px;">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>

                                        <h3>{% trans "Description" %}</h3>

                                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                            <div class="input-group">
                                                {{ form.name }}
                                                <div class="input-group-addon"><i class="fa fa-edit fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.name.errors %}{% for error in form.name.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                                            {{ form.description }}

                                            <span class="help-block">{% if form.description.errors %}{% for error in form.description.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div class="form-group {% if form.category.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.category.label }}{% if form.category.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div class="input-group">
                                                {{ form.category }}
                                                <div class="input-group-addon"><i class="fa fa-plus-square-o fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.category.errors %}{% for error in form.category.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div class="form-group {% if form.tags.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.tags.label }}{% if form.tags.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div class="input-group">
                                                {{ form.tags }}
                                                <div class="input-group-addon"><i class="fa fa-tags fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.tags.errors %}{% for error in form.tags.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div class="form-group {% if form.hashtag.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.hashtag.label }}{% if form.hashtag.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div class="input-group">
                                                {{ form.hashtag }}
                                                <div class="input-group-addon"><i class="fa fa-hashtag fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.hashtag.errors %}{% for error in form.hashtag.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div class="form-group {% if form.duration.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.duration.label }}{% if form.duration.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div>
                                                {{ form.duration }}
                                                <span id="currentSliderValue"></span> hours
                                            </div>

                                            <span class="help-block">{% if form.duration.errors %}{% for error in form.duration.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>

                                    {% if not form.organization.is_hidden %}
                                        <div class="form-group {% if form.organization.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.organization.label }}{% if form.organization.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div class="input-group">
                                                {{ form.organization }}
                                                <div class="input-group-addon"><i class="fa fa-university fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.organization.errors %}{% for error in form.organization.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                    {% endif %}

                                        <hr>

                                        <h3>{% trans "Roles" %}</h3>

                                        <div class="alert alert-info">
                                        {% blocktrans %}
                                            If you are looking for the differently skilled Volunteers / Participants, you can add specific Roles and Quantity here (e.g. 1 Driver, 10 Street-cleaners, etc.).<br/>
                                            If Roles are specified, Members will be offered to choose, which Role they want to take, on signing up to the Challenge / Event.
                                        {% endblocktrans %}
                                        </div>

                                        <div id="formset-roles" data-formset-prefix="{{ formset_roles.prefix }}" style="display:inline-block; width:100%">
                                            {{ formset_roles.management_form }}

                                            <div data-formset-body>
                                                <!-- New forms will be inserted in here -->
                                            {% for fs in formset_roles %}
                                                <div class="row" data-formset-form>
                                                    {{ fs.id }}
                                                    <div class="col-xs-12 col-sm-16 col-md-16">
                                                        {{ fs.name }}
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                                        {{ fs.quantity }}
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                                        <div class="hidden">{{ fs.DELETE }}</div>
                                                        <a type="button" class="btn btn-rounded pull-right" data-formset-delete-button><i class="fa fa-minus fa-fw"></i> {% trans "Del" %}</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>

                                            <!-- The empty form template. By wrapping this in a <script> tag, the __prefix__ placeholder can easily be replaced in both attributes and any scripts -->
                                            <script type="form-template" data-formset-empty-form>
                                            {% escapescript %}
                                                <div class="row" data-formset-form>
                                                    {{ formset_roles.empty_form.id }}
                                                    <div class="col-xs-12 col-sm-16 col-md-16">
                                                        {{ formset_roles.empty_form.name }}
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                                        {{ formset_roles.empty_form.quantity }}
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                                        <div class="hidden">{{ formset_roles.empty_form.DELETE }}</div>
                                                        <a type="button" class="btn btn-rounded pull-right" style="width:auto;" data-formset-delete-button><i class="fa fa-minus fa-fw"></i> {% trans "Del" %}</a>
                                                    </div>
                                                </div>
                                            {% endescapescript %}
                                            </script>

                                            <!-- This Button will add a new Form, when clicked -->
                                            <a type="button" class="btn btn-rounded pull-right" style="width:auto;" data-formset-add><i class="fa fa-plus fa-fw"></i> {% trans "Add" %}</a>

                                            <script>
                                                jQuery(function ($) {
                                                    $("#formset-roles").formset({
                                                        animateForms:   true
                                                    });
                                                });
                                            </script>
                                        </div>

                                        <ul class="list-inline pull-right">
                                            <li><span><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</span></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane fade" role="tabpanel" id="challenge-time-and-place">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>

                                        <!-- Challenge Location -->

                                        <h3>{% trans "Location" %}</h3>

                                        <div class="checkbox checkbox-primary">
                                            {{ form.addressless }}
                                            {{ form.addressless.label_tag }}
                                        </div>

                                        <address>
                                            <div class="form-group {% if aform.address_1.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ aform.address_1 }}
                                                    <div class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if aform.address_1.errors %}{% for error in aform.address_1.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if aform.address_2.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ aform.address_2 }}
                                                    <div class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if aform.address_2.errors %}{% for error in aform.address_2.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if aform.zip_code.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ aform.zip_code }}
                                                    <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if aform.zip_code.errors %}{% for error in aform.zip_code.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if aform.city.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ aform.city }}
                                                    <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if aform.city.errors %}{% for error in aform.city.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if aform.province.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ aform.province }}
                                                    <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if aform.province.errors %}{% for error in aform.province.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if aform.country.errors %}has-error{% endif %}">
                                                <label class="control-label">{{ aform.country.label }}{% if aform.country.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                                <div class="input-group">
                                                    {{ aform.country }}
                                                    <div class="input-group-addon"><i class="fa fa-globe fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if aform.country.errors %}{% for error in aform.country.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                        </address>

                                        <!-- REMINDER: Keep the Address Notes Field outside the <address> Tag, so, for Example, in Case of the addressless Challenge (Address is collapsed) the Admin will be able to provide some Notes, e.g., why the Challenge Location is not specified, some Directions, etc. -->
                                        <div class="form-group {% if aform.notes.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ aform.notes.label }}{% if aform.notes.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            {{ aform.notes }}
                                            <p class="help">{{ aform.notes.help_text|safe }}</p>

                                            <span class="help-block">{% if aform.notes.errors %}{% for error in aform.notes.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>

                                        <hr>

                                        <!-- Challenge Contact Person -->

                                        <h3>{% trans "Contact Person" %}</h3>

                                        <div class="form-group">
                                        {% for choice in form.contact %}
                                            <div class="radio radio-primary">
                                                {{ choice.tag }}
                                                <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                            </div>
                                        {% endfor %}
                                        </div>
                                        <div id="alt_person_creds">
                                            <div class="form-group {% if form.alt_person_fullname.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ form.alt_person_fullname }}
                                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if form.alt_person_fullname.errors %}{% for error in form.alt_person_fullname.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if form.alt_person_email.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ form.alt_person_email }}
                                                    <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if form.alt_person_email.errors %}{% for error in form.alt_person_email.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div class="form-group {% if form.alt_person_phone.errors %}has-error{% endif %}">
                                                <div class="input-group">
                                                    {{ form.alt_person_phone }}
                                                    <div class="input-group-addon"><i class="fa fa-phone fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{{ form.alt_person_phone.help_text }} {% if form.alt_person_phone.errors %}{% for error in form.alt_person_phone.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                        </div>

                                        <hr>

                                        <!-- Challenge Recurrence -->

                                        <h3>Time</h3>

                                        <h4><strong>How often:</strong></h4>

                                        <div class="alert alert-info">
                                        {% blocktrans %}
                                            Select one of the available Options: <i>dateless, once, <s>weekly</s>, <s>monthly</s>, <s>annually</s>, <s>custom</s></i>.
                                        {% endblocktrans %}
                                        </div>

                                        <!-- Recurrence -->
                                        <div id="chl-recurrence" class="form-group {% if form.recurrence.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.recurrence.label }}{% if form.recurrence.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div class="input-group">
                                                {{ form.recurrence }}
                                                <div class="input-group-addon"><i class="fa fa-refresh fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.recurrence.errors %}{% for error in form.recurrence.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>

                                        <hr>

                                        <!-- Challenge starts at -->
                                        <h4><strong>Starts at:</strong></h4>

                                        <!-- Date, Time, and Time Zone -->
                                        <div id="chl-tz" class="form-group {% if form.start_tz.errors %}has-error{% endif %}">
                                            <label class="control-label">{{ form.start_tz.label }}{% if form.start_tz.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                            <div class="input-group">
                                                {{ form.start_tz }}
                                                <div class="input-group-addon"><i class="fa fa-globe fa-fw"></i></div>
                                            </div>

                                            <span class="help-block">{% if form.start_tz.errors %}{% for error in form.start_tz.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div style="display:inline-block; width:100%">
                                            <div id="chl-sd" class="form-group half {% if form.start_date.errors %}has-error{% endif %}">
                                                <label class="control-label">{{ form.start_date.label }}{% if form.start_date.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                                <div class="input-group">
                                                    {{ form.start_date }}
                                                    <div class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if form.start_date.errors %}{% for error in form.start_date.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                            <div id="chl-st" class="form-group half pull-right {% if form.start_time.errors %}has-error{% endif %}">
                                                <label class="control-label">{{ form.start_time.label }}{% if form.start_time.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                                <div class="input-group">
                                                    {{ form.start_time }}
                                                    <div class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></div>
                                                </div>

                                                <span class="help-block">{% if form.start_time.errors %}{% for error in form.start_time.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                            </div>
                                        </div>

                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane fade" role="tabpanel" id="challenge-social-links">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>

                                        <h3>{% trans "Social Links" %}</h3>

                                        <div id="formset-social" data-formset-prefix="{{ formset_social.prefix }}" style="display:inline-block; width:100%">
                                            {{ formset_social.management_form }}

                                            <div data-formset-body>
                                                <!-- New forms will be inserted in here -->
                                            {% for fs in formset_social %}
                                                <div class="row" data-formset-form>
                                                    {{ fs.id }}
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        {{ fs.social_app }}
                                                    </div>
                                                    <div class="col-xs-12 col-sm-14 col-md-14">
                                                        {{ fs.url }}
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                                        <div class="hidden">{{ fs.DELETE }}</div>
                                                        <a type="button" class="btn btn-rounded pull-right" data-formset-delete-button><i class="fa fa-minus fa-fw"></i> {% trans "Del" %}</a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>

                                            <!-- The empty form template. By wrapping this in a <script> tag, the __prefix__ placeholder can easily be replaced in both attributes and any scripts -->
                                            <script type="form-template" data-formset-empty-form>
                                            {% escapescript %}
                                                <div class="row" data-formset-form>
                                                    {{ formset_social.empty_form.id }}
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        {{ formset_social.empty_form.social_app }}
                                                    </div>
                                                    <div class="col-xs-12 col-sm-14 col-md-14">
                                                        {{ formset_social.empty_form.url }}
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                                        <div class="hidden">{{ formset_social.empty_form.DELETE }}</div>
                                                        <a type="button" class="btn btn-rounded pull-right" style="width:auto;" data-formset-delete-button><i class="fa fa-minus fa-fw"></i> {% trans "Del" %}</a>
                                                    </div>
                                                </div>
                                            {% endescapescript %}
                                            </script>

                                            <!-- This Button will add a new Form, when clicked -->
                                            <a type="button" class="btn btn-rounded pull-right" style="width:auto;" data-formset-add><i class="fa fa-plus fa-fw"></i> {% trans "Add" %}</a>

                                            <script>
                                                jQuery(function ($) {
                                                    $("#formset-social").formset({
                                                        animateForms:   true
                                                    });
                                                });
                                            </script>
                                        </div>

                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane fade" role="tabpanel" id="challenge-application">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>

                                        <h3>{% trans "Application" %}</h3>

                                        <div class="form-group">
                                        {% for choice in form.application %}
                                            <div class="radio radio-primary">
                                                {{ choice.tag }}
                                                <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                            </div>
                                        {% endfor %}
                                        </div>

                                        <hr>

                                        <div class="checkbox checkbox-primary">
                                            {{ form.allow_reenter }}
                                            {{ form.allow_reenter.label_tag }}
                                        </div>

                                        <hr>

                                        <div class="checkbox checkbox-primary">
                                            {{ form.accept_automatically }}
                                            {{ form.accept_automatically.label_tag }}
                                        </div>
                                        <div id="id_acceptance_text_div" class="form-group {% if form.acceptance_text.errors %}has-error{% endif %}">
                                            {{ form.acceptance_text }}

                                            <span class="help-block">{% if form.acceptance_text.errors %}{% for error in form.acceptance_text.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>

                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><a href="#" class="next-step">{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="tab-pane fade" role="tabpanel" id="challenge-attachments">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><span>{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></span></li>
                                        </ul>

                                        <h3>{% trans "Attachments" %}
                                            <a data-toggle="collapse" href="#collapse-attachments"  aria-expanded="false" aria-controls="collapse-attachments"><i class="toggle-icon fa fa-fw fa-chevron-down"></i></a>
                                        </h3>

                                        <div style="display:none;">
                                            <div id="tmp_files">
                                                {{ form.tmp_files }}
                                            </div>
                                            <div id="tmp_images_path">
                                                {{ form.tmp_images_path }}
                                            </div>
                                            <div id="tmp_links">
                                                {{ form.tmp_links }}
                                            </div>
                                        </div>

                                        <div class="btn-group btn-group-sm">
                                            <a class="popover-content" title="" data-original-title="" data-content="Click to add images (jpg, png, gif) here" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#uploadImagesPopupModal" tabindex="-1">
                                                <i class="fa fa-camera fa-fw"></i>
                                                <span id="total_images" class="total-attachments"></span>
                                            </a>
                                            <a class="popover-content" title="" data-original-title="" data-content="Click to add documents (pdf, doc, plain text) here" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#uploadDocumentsPopupModal" tabindex="-1">
                                                <i class="fa fa-paperclip fa-fw"></i>
                                                <span id="total_documents" class="total-attachments"></span>
                                            </a>
                                            <a class="popover-content" title="" data-original-title="" data-content="Click to add links" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#uploadURLsPopupModal" tabindex="-1">
                                                <i class="fa fa-link fa-fw"></i>
                                                <span id="total_links" class="total-attachments"></span>
                                            </a>
                                        </div>

                                        <div class="challenge-attachments">
                                            <div id="collapse-attachments" class="collapse">
                                                <h4>{% trans "Images" %}</h4>

                                                <div class="gallery">
                                                {% for img in challenge.get_image_list.all %}
                                                    <div class="gallery-container">
                                                        <i class="fa fa-times-circle-o" onclick="removeAttachedFile({{ img.id }}, 'image', event);"></i>
                                                        <a class="gallery-photos" href="{{ MEDIA_URL }}{{ img.image }}" title="">{% generateimage "common:thumbnail" source=img.image -- alt=img.name %}</a>
                                                    </div>
                                                {% empty %}
                                                {% endfor %}
                                                </div>

                                                <h4>{% trans "Documents" %}</h4>

                                                <div class="gallery">
                                                {% for doc in challenge.get_document_list.all %}
                                                    <div class="documents-container">
                                                        <i class="fa fa-times-circle-o" onclick="removeAttachedFile({{ doc.id }}, 'document', event);"></i>
                                                        <a href="{{ MEDIA_URL }}{{ doc.document }}" target="_blank">{{ doc.name }}</a>
                                                        {% if not forloop.last %}<br />{% endif %}
                                                    </div>
                                                {% empty %}
                                                {% endfor %}
                                                </div>

                                                <h4>{% trans "Links" %}</h4>

                                                <div class="gallery">
                                                {% for url in challenge.get_url_list.all %}
                                                    <div class="links-container">
                                                        <i class="fa fa-times-circle-o" onclick="removeAttachedLink({{ url.id }}, 'regular', event);"></i>
                                                        <a href="{{ url.url }}" target="_blank">{% if url.title %}{{ url.title }}{% else %}{{ url.url }}{% endif %}</a>
                                                        {% if not forloop.last %}<br />{% endif %}
                                                    </div>
                                                {% empty %}
                                                {% endfor %}
                                                </div>

                                                <h4>{% trans "Video Links" %}</h4>

                                                <div class="gallery">
                                                {% for video_url in challenge.get_video_url_list.all %}
                                                    <div class="video-links-container">
                                                        <i class="fa fa-times-circle-o" onclick="removeAttachedLink({{ video_url.id }}, 'video', event);"></i>
                                                        <a href="{{ video_url.url }}">{{ video_url.url }}</a>
                                                        {% if not forloop.last %}<br />{% endif %}
                                                    </div>
                                                {% empty %}
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-inline pull-right">
                                            <li><a href="#" class="prev-step"><i class="fa fa-chevron-left fa-fw"></i> {% trans "Prev" %}</a></li>
                                            <li><span>{% trans "Next" %} <i class="fa fa-chevron-right fa-fw"></i></span></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xs-24 col-sm-8 col-md-6 right-sidebar">
                <div class="actions">
                    <a class="btn btn-primary btn-centered" name="submit"><i class="fa fa-check-square-o fa-fw"></i> {% trans "Save Changes" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Injects -->

{% include "injects/upload.html" %}

<!-- Modals -->

{% include "common/modals/attach-image-modal.html" %}
{% include "common/modals/attach-doc-modal.html" %}
{% include "common/modals/attach-url-modal.html" %}

<!-- Script -->

<script>
    /*************************************************************************/
    /*** Submit Form                                                       ***/
    /*************************************************************************/
    $("a[name='submit']").click(function () {
        $("#spinner").fadeIn("slow");

        /*** DATE FORMAT *****************************************************/
        var $input = $("input[name='start_date']");
        var val = $input.val();

        if (val) {
            var valMoment = moment(val);
            var isMoment = moment.isMoment(valMoment);

            if (isMoment) {
                $input.attr("type", "text");
                $input.val(valMoment.format("MM/DD/YYYY"));
            }
        }
        /*********************************************************************/

        $("form#edit-challenge-form").submit();

        return true;
    })

    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for field in aform %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for field in nform %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for form in formset_roles.forms %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        new Noty({
                            text: "Role : {{ field.label }}: {{ error }}"
                        }).show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% for form in formset_social.forms %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        new Noty({
                            text: "Social Link : {{ field.label }}: {{ error }}"
                        }).show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        /*********************************************************************/
        /*** Show proper Tab                                               ***/
        /*********************************************************************/
        var active_tab = window.location.hash.substr(1);

        if (active_tab) {
            $("a[href='#" + active_tab + "']").tab("show");

            $("html, body").animate({
                scrollTop:  $("a[href='#" + active_tab + "']").offset().top - $("nav").height() - 55
            }, 500);
        }

        /*********************************************************************/
        /*** Slider                                                        ***/
        /*********************************************************************/
        var mySlider = $("input.slider");

        mySlider.bootstrapSlider("setValue", {{ challenge.duration }});
        mySlider.on("slide", function (event) {
            $("#currentSliderValue").text(event.value);
        });

        $("#currentSliderValue").text(
            mySlider.bootstrapSlider("getValue")
        );

        /*********************************************************************/
        /*** Challenge has Address?                                        ***/
        /*********************************************************************/
        $("address").show();

        if ($("#id_addressless").prop("checked")) {
            $("address").hide();
        }

        $("#id_addressless").click(function () {
            $("address").toggle("slow");
        });

        /*********************************************************************/
        /*** Recurrence UX                                                 ***/
        /*********************************************************************/
        recurrence($("#id_recurrence").val());

        $("#id_recurrence").change(function() {
            recurrence(this.value);
        });

        function recurrence(value) {
            if (value == {{ RECURRENCE.DATELESS }}) {
                $("#chl-tz").hide();
                $("#chl-sd").hide();
                $("#chl-st").hide();
            } else if (value == {{ RECURRENCE.ONCE }}) {
                $("#chl-tz").show();
                $("#chl-sd").show();
                $("#chl-st").show();
            }
        }

        /*********************************************************************/
        /*** Contact Person UX                                             ***/
        /*********************************************************************/
        $("#alt_person_creds").hide();

        var selected = $("input[type='radio']:checked");

        if (selected.val() == "he") {
            $("#alt_person_creds").show("slow");
        }

        $("#id_contact_0").click(function () {
            $("#alt_person_creds").hide("slow");
        });

        $("#id_contact_1").click(function () {
            $("#alt_person_creds").show("slow");
        })

        /*********************************************************************/
        /*** Automatically accept Experience Reports UX                    ***/
        /*********************************************************************/
        $("#id_acceptance_text_div").hide();

        if ($("#id_accept_automatically").prop("checked")) {
            $("#id_acceptance_text_div").show("slow");
        }

        $("#id_accept_automatically").click(function () {
            $("#id_acceptance_text_div").toggle("slow");
        });
    });
</script>
{% endblock %}
